In [15]:
import pandas as pd
import numpy as np
import random
from sklearn.linear_model import LogisticRegression

df = pd.read_csv('titanic_model_data.csv', keep_default_na=False)
df.head(5)

   Survived  Sex   Age     Fare  Family
0         0    0  22.0   7.2500       1
1         1    1  38.0  71.2833       1
2         1    1  26.0   7.9250       0
3         1    1  35.0  53.1000       1
4         0    0  35.0   8.0500       0

In [23]:
# Linear Model

X = df[['Age', 'Family', 'Fare', 'Sex']]
Y = df[['Survived']]
lin_model = LogisticRegression(solver='lbfgs')
lin_model.fit(X,Y)

test = np.array([25, 3, 25, 0])
test = test.reshape(1,-1)
res = lin_model.predict(test)
res[0]

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0